*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
:root {
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  font-family: var(--font-system);
}

/*Nav*/
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "logo nav-items";
  box-shadow: 0 -10px 30px #000;
  padding: 0 42px;
  gap: 25px;
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  background-color: #fff;
}

/*IMG*/
.navigation img {
  height: 80px;
  transition: 0.3s ease-in-out;
  grid-area: logo;
}

#navimg.sticky {
  height: 40px;
}

/*===============NavText===============*/
#nav-container {
  grid-area: nav-items;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-items {
  flex: 1;
  height: 100%;
  display: flex;
}
.nav-item {
  padding: 0 30px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.nav-item:hover {
  background-color: #ff000054;
}
/*========================================*/

/*============Boton Menu Desplegable=============*/
.nav-item span {
  letter-spacing: 1px;
  color: #2c2c2c;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  z-index: 20;
}

.submenu {
  position: absolute;
  z-index: -1; 
  top: 80%;
  left: 0;
  width: 100%;
  box-shadow: 0 15px 30px #00000025;
  display: none; 
}

@keyframes opacidad {
  to {
    opacity: 1;
  }
}

@keyframes menulistanim {
  to {
    top: 100%;
  }
}

.nav-item:hover .submenu {
  display: block; 
  opacity: 0;
  animation: opacidad 0.4s ease-out forwards, menulistanim 0.4s ease forwards;
}

.submenu .submenu-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  cursor: default !important;
  list-style: none;
}

.submenu .submenu-items li {
  width: 100%;
  padding: 10px 15px;
}

.submenu .submenu-items li:hover {
  cursor: pointer;
  background-color: #006eff3b;
}
/*==============================================*/

/*===============Tema y Lenguaje ===============*/

.iditema {
  position: absolute; 
  right: 0; 
  width: 140px;
  background-color: #00000038;
  height: 100%; 
}

/*=================================================*/

.background {
  height: 2000px;
  background-color: rgba(0, 0, 255, 0.192);
}
/*================================================*/

/*======================Boton Desplegable No-Responsive=========================*/
.menu-toggle,
.close-menu {
  display: none; 
  border: none; 
  background-color: transparent; 
  font-size: 2rem; 
  cursor: pointer; 
  position: relative; 
}

.menu-toggle::before,
.close-menu::before {
  content: ""; 
  position: absolute; 
  top: -7px; 
  left: -7px; 
  right: -7px; 
  bottom: -7px; 
}
/*========================================================================*/

/*======================Boton Desplegable Responsive=========================*/
@media (max-width: 840px) {
  /*nav*/
  .navigation {
    grid-template-columns: max-content max-content; 
    grid-template-areas: "logo menu-toggle"; 
    justify-content: space-between; 
    gap: 0; 
  }
  /*===*/

  /*Boton Desplegable*/
  .menu-toggle {
    display: flex; 
    grid-area: menu-toggle; 
    align-items: center; 
    text-decoration: none; 
    color: #000; 
  }
  /*=================*/

  /*Barra Lateral No-Activa*/
  #nav-container {
    position: absolute; 
    transform: translateX(100%); 
    opacity: 0; 
  }
  /*=======================*/

  /*Animaciones*/
  @keyframes contentAnim {
    to {
      transform: translateX(0%);
    }
  } 
  @keyframes contentOpac {
    to {
      opacity: 1;
    }
  } 
  /*============*/

  /*Barra Lateral Activa*/
  .navigation.active #nav-container,
  .navigation.active .iditema {
    display: flex; 
    animation: contentAnim 0.8s ease forwards, contentOpac 0.4s ease forwards; 
  }

  .navigation.active #nav-container {
    position: fixed; 
    right: 0; 
    width: 75%; 
    max-width: 400px; 
    height: 100%; 
    background-color: #fff; 
    display: grid; 
    grid-template-areas: "close-menu" "nav-items" "iditema"; 
    grid-template-rows: max-content 1fr max-content; 
    align-items: start; 
  }
  /*=======================*/

  /*Mostrar Boton Para Cerrar*/
  .navigation.active .close-menu {
    padding: 20px 40px 50px; 
    width: 100%; 
    display: flex; 
    justify-content: end; 
    grid-area: close-menu; 
  }
  /*===========================*/

  /*Estilos de los elementos de navegación activos*/
  .navigation.active .nav-items {
    grid-area: nav-items; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 0 auto; 
    overflow: scroll; 
    height: 100%; 
    align-content: start; 
    cursor: default; 
  }

  .navigation.active .nav-item {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    padding: 0; 
    height: max-content; 
    background-color: #fff; 
    transition: 0.2s ease; 
  }

  .navigation.active .iditema {
    max-height: 80px; 
    width: 100%; 
    position: static; 
    padding: 30px 0; 
    grid-area: iditema; 
  }

  .navigation.active .nav-item {
    flex-wrap: wrap; 
  }

  .navigation.active .nav-items .nav-item span {
    width: 100%; 
    padding: 20px 30px; 
    cursor: pointer; 
    transition: 0.2s ease; 
    color: #434343;    
    border-radius: 5px;
    margin: 0 15px;
  }

  .navigation.active .nav-items .nav-item span:hover {
    background-color: #146597;
    color: #fff; 
  }

  .navigation.active .nav-items .nav-item .submenu {
    position: static;
    padding: 0 15px;
  }

  .nav-item:hover .submenu {
    display: none; 
    opacity: 0; 
  }

  .submenu.active .submenu-items li{
    border-radius: 5px;
  }

  .navigation.active .nav-item span.active{
    background-color: #146597;
    color: #fff;
  }

  .navigation.active .submenu.active {
    box-shadow: none; 
    display: block; 
    opacity: 0; 
    animation: opacidad 0.4s ease-out forwards, menulistanim 0.4s ease forwards; 
  }
}

.submenu.active .submenu-items{
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
}
/*========================================================================*/

/*===================/Sticky/===================*/
