*, *::before, *::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}

:root {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: var(--font-system);
}

nav {
    display: grid; /* Mantener el diseño de grid como estaba */
    grid-template-columns: max-content 1fr;
    grid-template-areas: "img navtext";
    box-shadow: 0 -10px 30px #000;
    padding: 0 12px;
    gap: 50px;
}

nav img {
    height: 80px;
    grid-area: img;
}

#content {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

.navText {
    grid-area: navtext;
    padding: 0 35px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
    z-index: 10; /* Asegura que el texto esté por encima del menú */;
}

.navText:hover {
    background-color: rgba(255, 0, 0, 0.329);
}

.navText span {
    letter-spacing: 1px;
    color: #010101;
    position: relative; /* Esto garantiza que span tenga su propio contexto de apilamiento */
    z-index: 20;
}

.menu-list {
    position: absolute;
    z-index: -1; /* Mover el menú hacia atrás */
    top: 80%;
    left: 0;
    width: 100%;
    box-shadow: 0 15px 30px #00000025;
    display: none; /* Oculto por defecto */
}

@keyframes opacidad {
    to {
        opacity: 1;
    }
}

@keyframes menulistanim {
    to {
        top: 100%;
    }
}

.navText:hover .menu-list {
    display: block; /* Muestra el menú al pasar el ratón */
    opacity: 0;
    animation: opacidad 0.4s ease forwards, menulistanim 0.4s ease forwards;
}

.menu-list .menu-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    cursor: default !important;
}
.menu-list .menu-items li{width: 100%; padding: 10px 15px;}
.menu-list .menu-items li:hover {
    cursor: pointer;
    background-color: #006eff3b;
}

.fondo {
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.192);
}

.iditema {
    position: absolute; /* Cambiar a posición absoluta */
    right: 0; /* Coloca el elemento en la parte inferior */
    width: 140px;
    background-color: #00000038;
    height: 100%; /* Mantener la altura deseada */
}

.menu-bars{display: none;}
@media (max-width:900px){
    nav{
        --img1: 1;
        --img2: 0;
        grid-template-columns: max-content max-content 1fr;
        grid-template-areas: "img bars navtexts";
        gap: 0;
    }
    
    #content:target {
        --img1: 0;
        --img2: 1;
    }

    .menu-bars{ /*#*/
        display: flex; grid-area: bars;
        align-items: center;
        text-decoration: none; color: #000;
        transform: scale(var(--img1));
    }

    .menu-bars.bars-close{ /*Menu*/
        transform: scale(var(--img2));
    }
    
}