/*transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/
*{
    padding: 0; margin: 0;
}
:root {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*Paleta de Colores*/
    --azul-dmd: #146597;
    --azul-oscurito: #0e103d;
    --rojito-dmd: #ae0d24;
    --gold: #e8aa14;
    --ivory: #f5f9e9;
    --azure-web: #e6fdff;
    --rich-black: #0e0f19;
    --rojo-pantone: #9d034f; /* Pantone 200 C */
    --azul-pantone: #146597; /* Pantone 7462 C */
    --gris-pantone: #607387; /* Pantone Cool Gray 5 C */
}

[tema="light"]{
    --bodyColor: #fff;
    --contFormFondo: #fff;
    --asideFondo: #ffffff;
    --asideFondo2: #fff;
    --asideText: #000000;

    --formFondo: #ffffff;
    --formTituloText: #fff;
    --formTituloFondo: #cf203a;

    --formInputTextColor: #000;
    --formInputFondo:#fff;
    --formInputBorder:#c0c0c0;

    --formInputFocus:#cf203a;

    --formMsjTituloTexto: #000;
    --formMsjComentText: #000;
    --formMsjComentFondo: #fff;
    --formMsjComentButtonTexto: #000000;
    --formMsjComentButtonFondo:  #dedede;
    
    --formMsjComentButtonBorderHover: #000;
    --formMsjComentButtonTextoHover: #fff;
    --formMsjComentButtonFondoHover:  #146597;
}

    [tema="dark"]{
    --bodyColor: #181a1b;
    --contFormFondo: #181a1b;
    --asideFondo: #181a1b;
    --asideFondo2: #181a1b;
    --asideText: #fff;

    --formFondo: #181a1b;
    --formTituloText: #e8e6e3;
    --formTituloFondo: #a61a2e;

    --formInputTextColor: #e8e6e3;
    --formInputFondo: #181a1b;
    --formInputBorder: #42474a;

    --formInputFocus: #9f192c;

    --formMsjTituloTexto: #e8e6e3;
    --formMsjComentText: #e8e6e3;
    --formMsjComentFondo: #181a1b;
    --formMsjComentButtonTexto: #e8e6e3;
    --formMsjComentButtonFondo: #2b2e30;

    --formMsjComentButtonBorderHover: #8c8273;
    --formMsjComentButtonTextoHover: #e8e6e3;
    --formMsjComentButtonFondoHover: #105179;
}


body {
    margin: 0; 
    padding: 0; 
    font-family: var(--font-system); 
    background-color: var(--bodyColor);     
}


/*contacto.html-----------------------------------*/
/*-------------------------------------------------*/


/*======Mapa======*/
.map{
    height: 470px;
    min-height: 50vh;        
    margin: 40px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
/*================*/


/*======Form======*/

#sectionForm {
    background-color: var(--contFormFondo); 
    display: grid;
    grid-auto-columns: 6fr 8fr;
    grid-row: 200px 200px;
    grid-template-areas: 
    "formh2 formh2"
    "formredes formf "
    ;
    gap: 20px;
    margin-bottom: 50px;
}



#sectionForm aside {
    grid-area: formredes;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#sectionForm aside .info-wrap {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.26);
    padding: 30px;
    background-color: var(--asideFondo);
    height: max-content;
}

#sectionForm aside .info-wrap .row{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

#sectionForm aside .items {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.125);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: var(--asideFondo2);
    padding: 15px;
    gap: 20px;
    color: var(--asideText);
}


#sectionForm aside .items a{ 
    color: var(--asideText);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    text-decoration: underline transparent;
}

#sectionForm aside .items a:hover{
    text-decoration: underline;
}

.redesImg {
    display: inline-block;
    font-size: 2rem;
    color: var(--asideText);
}




#sectionForm .formcont{
    grid-area: formf;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.26);
    margin: 20px 20px 40px 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background-color: var(--formFondo);

}

#sectionForm h2 {
    grid-area: formh2;
    width: 100%;
    height: max-content;
    background-color: var(--formTituloFondo);
    color: var(--formTituloText);
    text-align: center;
    padding: 2px 0;   
    position: relative; /* Asegúrate de que tenga esta propiedad */
    z-index: 3;
}



#sectionForm .formcont h2::before {
    content: "";
    background-color: var(--formTituloFondo);
    position: absolute;
    z-index: 0; /* Cambiar a 1 o menos */
    left: 50%;
    bottom: 0px;
    width: calc(100% + 60px);
    height: 100%; 
    transform: translate(-50%, 0%);
    display: none;
}


form{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

input{
    height: 20px; flex-grow: 1; 
    font-size: 1.1rem;
    padding: 20px 10px;
    color: var(--formInputTextColor);
    background-color: var(--formInputFondo);
    border: 1px solid var(--formInputBorder);
}

input:focus, textarea:focus{
    transition: 0.2s ease;
    outline: 1px var(--formInputFocus) solid;
    border: none;
}

.mensaje{
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    height: max-content;
} 

.mensaje label{
    margin-bottom: 10px;
    color: var(--formMsjTituloTexto);
}
form button{
    border: none;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
    color: var(--formMsjComentButtonTexto);
    background-color: var(--formMsjComentButtonFondo);
}

form button:hover{
    background-color: var(--formMsjComentButtonFondoHover);
    color: var(--formMsjComentButtonTextoHover);
    border: solid 1px var(--formMsjComentButtonBorderHover);
}
textarea{
    border: solid 1px;
    padding: 10px;
    font-size: 1.1rem;
    resize: vertical;
    width: 90%;
    height: 100px;
    max-height: 300px; min-height: 50px;
    background-color: var(--formMsjComentFondo);
    color: var(--formMsjComentText);
}

@media (max-width: 750px){
    #sectionForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    #sectionForm aside{
        padding: 10px;
    }
    #sectionForm aside .info-wrap{
        padding: 10px
    }

    
    #sectionForm .formcont{
        padding: 20px; margin: 10px;
    }
    
}
/*=================*/



@media (max-width: 600px){
    #sectionForm form input,label{
        width: 60%;
    }
    .map{
        height: 100px;
        
    }
}
/*-------------------------------------------------------------------------------*/