/*transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/
*{
    padding: 0; margin: 0;
}
:root {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Colores */
    --rojo-pantone: #9d034f; /* Pantone 200 C */
    --azul-pantone: #146597; /* Pantone 7462 C */

    --blanco: #fff;
    --rojo: #cc0000;

    --fondo-header: #20507a;
    --fondo-nav: #fff;
    
    --fondo-spantext: #799fbf;
    --fcolor-desc-spantext:#001d36;

    --fondo-desc: #d7e6ee;
    --fcolor-desc-h4text:#296599;


    --fondo-productos-h1:#292d99;
    --fondo-footer:#142497;
    --border-footer: #1919bb;

    --gris-pantone: #607387; /* Pantone Cool Gray 5 C */

    /*tamaños*/
    --Carousel-height: 480px;
    --Logo-tamaño:65px;
    --logo-tamaño-responsive: 65px;


    /*Paleta de Colores*/
    --azul-dmd: #146597;
    --azul-oscurito: #0e103d;
    --rojito-dmd: #ae0d24;
    --gold: #e8aa14;
    --ivory: #f5f9e9;
    --azure-web: #e6fdff;
    --rich-black: #0e0f19;

    --formFondo: #ffffffab;
}


body {
    margin: 0; 
    padding: 0; 
    font-family: var(--font-system); 
    background-color: var(--blanco);     
}


/*contacto.html-----------------------------------*/
/*-------------------------------------------------*/


/*======Mapa======*/
.map{
    height: 470px;
    min-height: 50vh;        
}
/*================*/


/*======Form======*/

#sectionForm {background-color: var(--formFondo); 
    display: grid;
    grid-auto-columns: 6fr 10fr;
    grid-row: 200px 200px;
    grid-template-areas: 
    "formh2 formh2"
    "formredes formf "
    ;
}

#sectionForm h2{
    grid-area: formh2;
    width: 100%;
    background-color: #cf203a;
    color: #ffffff;
    text-align: center;
}


#sectionForm aside {
    grid-area: formredes;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#sectionForm aside .info-wrap {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
}

#sectionForm aside .info {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 15px;
}

.redesImg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}




#sectionForm .formcont{
    grid-area: formf;
}

form{    
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

input{
    height: 20px; width: 45%; 
    font-size: 1rem;
    padding: 10px;
}


.mensaje{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

form button{
    border: none;
    width: 50%;
    height: 30px;
    border-radius: 20px;
}

textarea{
    resize: vertical;
    width: 90%;
    height: 100px;
    max-height: 300px; min-height: 50px;
}


/*=================*/


/*--------------------------------------------------------------------------------

#sectionForm form{
    background-color: #ffffff41;
    width: 500px;
    padding: 10px;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
}

textarea{
    border-radius: 10px;
    resize: both; 
}

#sectionForm form input,label,textarea{
    width: 400px
}

#sectionForm form label{
    font-size: 1.5rem;
    text-align: start;
    
    
}

#sectionForm form input{
    border: solid 2.5px rgb(124, 124, 124);
    border-radius: 15px;
    padding: 10px 20px;

}


#sectionForm form #formBtn{
    margin: 10px;
    font-size: 1.1em;
    background-color: #fff;
    cursor: pointer;
    border: solid rgb(82, 82, 82) 3px;
    border-radius: 4px;
    width: 120px;
    min-width: 10%;
    transition: 0.2s ease;
}

#sectionForm form #formBtn:hover{
    border: solid 2px #7e0000;
    background-color: var(--rojo);
    color: white;
}


@media (max-width: 600px){
    #sectionForm form{
        border: solid 1px;
        width: 70%;
        min-width: none;
        max-width: s;
    }

    #sectionForm form input,label{
        width: 60%;
    }
    .map{
        height: 100px;
        
    }
}
-------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------*/

