/*transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/
*{
    padding: 0; margin: 0;
    transition: background-color 1s ease;
}

:root{
    /*tamaños*/
    --Cheight: 700px;
    --Logo-tamaño:65px;
    --logo-tamaño-responsive: 65px;
}

#particles-js{
    z-index: -2;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

[tema = "light"] {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


/*          Colores              */
/*===============================*/
    /*Carousel*/
/*===============================*/
    --dots: #fff;
    --dotsActive: #283388;
    --dotsFondo: rgba(5, 0, 0, 0.305);
    
    --arrowsColor: #fff;
    --arrowsHover: #3847ba;
    --arrowsHoverFondo: #2833886b;
/*==============================*/


/*==============================*/
    /*Vendemos a Todo el País*/
/*===============================*/   
    --descFondo: #f2f2f2;
    --descFondoG1: #f2f2f2;
    --descFondoG2: #e0e0e0;
    --descSpanColor: #ae0d24; /* Rojo */
    
    /* --descSpanColorDest: #ae0d24; */
    --descH4Fondo: #f5f5f5; /* Fondo gris claro */
    --descH4Color: #333; /* Azul */
    --descH4FondoHover: #f5f5f5;
    
    --descButtonFondo: #ffffff; /* Fondo del botón blanco */
    --descButtonFondoHover: #ae0d24; /* Fondo azul en hover */

    --descButtonBorder: none; /* Sin borde en estado normal */
    --descButtonBorderHover: none; /* Borde rojo en hover */

    --descButtonText: #000; /* Texto negro en el botón */
    --descButtonTextHover: #ffffff; /* Texto blanco en hover */
/*===============================*/
/*===============================*/


/*==============================*/
    /*Nuestros Productos*/
/*==============================*/
    --prodFondo: #ffffff;
    --prodTittleFondo1: #da1f3b;
    --prodTittleFondo2: #ae0d24;
    --servTittleFondo1: #da1f3b; /* Cambiado a azul */
    --servTittleFondo2: #ae0d24;
    --prodTittleText: #fff;
    --prodCardFondo: #fff;
    --prodCardTexto: #333;
    --prodCardIcons: #ae0d24;
    --prodButtonText: #fff;
    --prodButtonSM: #146597;
/*===============================
--prodAcnButtonFondo: #1c77c3;
--prodAcnButtonText: #fff;
--prodAcntContFondo: #146597;
--prodAcntCardFondo: #f7f7f7;
--prodAcntCardText: #000;
--prodAcntCardBorder: #5e5e5e;
--prodAcntCardBorderHover: #cf0707;
--prodDetailProdTextColor: #000;
--prodDetailProdFondo: #f8f9fa;
--prodDetailProdButton: #007bff;
--prodDetailProdButtonHover: #0056b3;
===============================*/


/*==============================*/
    /*Nuestros Clientes*/
/*===============================*/   
    --ClientesText: #000;
/*===============================*/
/*===============================*/

    /*Paleta de Colores*/
    --azul-dmd: #146597;
    --rojito-dmd: #ae0d24;
    --azul-oscurito: #0e103d;
    --gold: #e8aa14;
    --ivory: #f5f9e9;
    --azure-web: #e6fdff;
    --rich-black: #0e0f19;
    --azul-francia: #1c77c3;
}



body[tema="dark"] {

/*          Colores              */
/*          Colores Actualizados           */
/*========================================*/
/*Carousel*/
/*========================================*/
--dots: #181a1b;
--dotsActive: #20296d;
--dotsFondo: rgba(4, 0, 0, 0.3);

--arrowsColor: #e8e6e3;
--arrowsHover: #6893d2;
--arrowsHoverFondo: rgba(32, 41, 109, 0.42);
/*========================================*/

/*========================================*/
/*Vendemos a Todo el País*/
/*========================================*/   
--descFondo: #1f2223;
--descSpanColor: #d0ccc6;
--descSpanColorDest: #f2566c;
--descH4Color: #d0ccc6;
--descButtonFondo: #181a1b;
--descButtonFondoHover: #0676c0;
--descButtonBorder: #8c8273;
--descButtonBorderHover: #d90000;
--descButtonText: #e8e6e3;
--descButtonTextHover: #e8e6e3;
/*========================================*/
/*========================================*/

/*========================================*/
/*Nuestros Productos*/
/*========================================*
--prodFondo: #181a1b;
--prodTittleFondo1: #ae192f;
--prodTittleFondo2: #8b0a1d;
--prodTittleText: #e8e6e3;
--prodAcnButtonFondo: #165f9c;
--prodAcnButtonText: #e8e6e3;
--prodAcntCardFondo: #1d1f20;
--prodAcntCardText: #e8e6e3;
--prodAcntCardBorder: #6d655a;
--prodAcntCardBorderHover: #b90606;
--prodDetailProdTextColor: #fff;
--prodDetailProdFondo: #1b1e1f;
--prodDetailProdButton: #0062cc;
--prodDetailProdButtonHover: #00458f;
========================================*/
--prodFondo: #181a1b;
--prodTittleFondo1: #ae192f;
--prodTittleFondo2: #8b0a1d;
--prodTittleText: #e8e6e3;
--prodCardFondo: #272727;
--prodCardTexto: #fff;
--prodCardIcons: #ff4f00;
--prodButtonText: #e9e9e9;
--prodButtonSM: #a2152a;
/*========================================*/

/*========================================*/
/*Nuestros Clientes*/
/*========================================*/   
--ClientesText: #e8e6e3;
/*========================================*/
/*========================================*/

/*Paleta de Colores*/
--azul-dmd: #007bff;
--rojito-dmd: #ff4f00;
--ivory: #e8e6e3;
--rich-black: #181a1b;

}



body {
    margin: 0; 
    padding: 0; 
    font-family: var(--font-system); 
    background-color: var(--prodFondo);     
}



/*------------carrusel imagenes dmd -------------------*/


.Carousel{
    position: relative;
    width: 100%;
    height: var(--Cheight);
}
.Carousel .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.Carousel .slides .content{
    width: 100%; height: 100%;
    position: absolute;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



#carouselContent{
    position: absolute; 
    top: 60%; left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0;
    animation:mostrar 0.85s ease forwards  , mover 1.2s forwards ;
    
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    width: 600px; height: 300px;
    filter: drop-shadow(0px);

    padding: 30px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

#carouselContent p{
    z-index: 4;
    font-size: 8rem;
    margin-bottom: 20px;
    color: var(--rojito-dmd);
    
    font-weight: 700;
}
#carouselContent button {
    border: solid 1px #fff;
    background-color: transparent;
    width: 180px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    font-size: 1.65rem;
    cursor: pointer;
    transition: 0.3s ease;
}

#carouselContent button:hover {
    background-color: #fff;
    color: #000;
}
@keyframes mostrar {
	to {
    	opacity: 1; /* Hacer visible al final */
	}
}

@keyframes mover {
	to {
    	top: 50%; /* Centrar verticalmente */
    	
	}
}

.content:nth-child(2) { background-image: url(../img/dmd/compresor2.jpg); }
.content:nth-child(1) { background-image: url(../img/dmd/fabrica\ 4.jpg); }
.content:nth-child(3) { background-image: url(../img/dmd/FLOTA\ 3.jpg); }
.content:nth-child(4) { background-image: url(../img/dmd/FLOTA\ 5.jpg); }

.content:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    padding: 10px;
    border: solid 1px;
    border-radius: 20px;
    backdrop-filter: blur(2px); 
    color: var(--arrowsColor);
    transition: 0.1s ease;
}

span.next{right: 20px;}
span.prev{left: 20px;}

span.next:hover, span.prev:hover{
    color: var(--arrowsHover);
    background-color: var(--arrowsHoverFondo);
} 

.dotsContainer {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    bottom: 30px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: var(--dotsFondo);
}

.dotsContainer .dot {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: var(--dotsFondo);
    margin: 15px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 1s ease;
    transition: 0.5s ease;
    background-color: var(--dots);
}

/* Expande el área clicable sin cambiar el tamaño visual */
.dotsContainer .dot::before {
    content: '';
    position: absolute;
    top: -10px; /* Expande hacia arriba */
    left: -10px; /* Expande hacia la izquierda */
    right: -10px; /* Expande hacia la derecha */
    bottom: -10px; /* Expande hacia abajo */
}


.dotsContainer .active{
    background-color: var(--dotsActive);
    width: 25px;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

/*--------------------------consultar*/

#descripcion {
    display: none;
    /* Fondo con degradado usando los colores de la paleta */
    background-color: var(--descFondo);
    background: linear-gradient(135deg, var(--descFondoG1) 0%, var(--descFondoG2) 100%);
}

#descripcion article {
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-rows: 75px auto;
    grid-template-columns: 75% 1fr;
    grid-template-areas: 
        "span1 span1"
        "h4 btn";
}

#descripcion article p {
    margin-left: 25px;
    grid-area: span1;
    color: var(--descSpanColor);
    font-size: 2.3em;
    font-weight: 700;
    width: max-content;
    height: max-content;
}

/*
#descripcion article span#destacado {
    color: var(--descSpanColorDest); 
    font-size: 4rem;
    font-weight: 600;
}
*/

#descripcion article h4 {
    padding: 0;
    margin: 0 0 20px;
    color: var(--descH4Color);
    grid-area: h4; 
    margin-left: 50px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--descH4Fondo);
    line-height: 1.8;
    transition: background-color 0.3s ease;
}

#descripcion article h4:hover {
    background-color: var(--descH4FondoHover);
}

#descripcion article .btn {
    grid-area: btn; 
    height: 50px;
    display: flex;
    margin: 0 60px 30px 50px;
}

#descripcion article .btn #buttonH2 {
    padding: 10px;
    height: max-content;
    width: 100%;
    margin: 0 auto;
    border: solid 1px var(--descButtonBorder);
    color: var(--descButtonText);
    background-color: var(--descButtonFondo); 
    border-radius: 4px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px #0000001e;
}

#descripcion article .btn #buttonH2:hover {
    cursor: pointer;
    color: var(--descButtonTextHover);
    background-color: var(--descButtonFondoHover);
    border: solid 2px var(--descButtonBorderHover);
    box-shadow: 0 3px 6px #0000006e;
}

@media (max-width: 700px) {
    #descripcion {
        padding: 0px;
    }

    #descripcion article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    #descripcion article p {
        margin: 0 0 5px;
        text-align: center;
    }

    #descripcion article h4 {
        margin: 15px;
        width: 80%;
        text-align: center;
    }

    #descripcion article .btn {
        width: 300px;
    }

    #descripcion article .btn button {
        height: auto;
        width: 100%;
        padding: 10px;
    }
}    
/* Textos Productos y Clientes*/

.pTitulo h1{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1.8px;
    width: 100%;
    padding: 7px;  
    color: var(--prodTittleText);
    box-shadow: #00000026   
        0px 5px 15px 0px;
    background: linear-gradient(to bottom, 
        var(--prodTittleFondo1),
        var(--prodTittleFondo2));
}
    

.productos{
    padding: 40px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    
}

.productos .cards{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #42465445 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;    
    display: flex; flex-direction: column;
    align-items: center;
    color: var(--prodCardTexto); 
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: var(--prodCardFondo);
}

.productos .cards:hover{
    box-shadow: #ff000077 0px 0px 1em, #ff00000d 0px 1em 2em;
}

.productos .cards i{
    color: var(--prodCardIcons);
    font-size: 3.2rem;
    margin-bottom: 30px;
}

.productos .cards h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
}


.sTitulo h1{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1.8px;
    width: 100%;
    padding: 7px;  
    color: var(--prodTittleText);
    box-shadow: #00000026   
        0px 5px 15px 0px;
    background: linear-gradient(to bottom, 
        var(--servTittleFondo1),
        var(--servTittleFondo2));
}


.servicios{
    padding: 40px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}


.servicios .cards{
    width: 880px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #42465445 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;    
    display: flex; flex-direction: column;
    align-items: center;
    color: var(--prodCardTexto); 
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: var(--prodCardFondo);
}



.servicios .cards:hover{
    box-shadow: #ff000077 0px 0px 1em, #ff00000d 0px 1em 2em;
}

.servicios .cards i{
    color: var(--prodCardIcons);
    font-size: 3.2rem;
    margin-bottom: 30px;
}

.servicios .cards h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
}




@media (max-width: 450px){

    .cards{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .productosCards{
        width:100%;
        height: 100%;
    }
}


/*========================*/
/*boton quiero saber mas*/
/*========================*/

.saberMas{
    margin: 30px auto 50px;
    padding: 15px;  
    text-align: center; font-size: 1.2rem; letter-spacing: 2px;
    color: var(--prodButtonText);
    background-color: var(--prodButtonSM);
    border-radius: 10px;
    transition: 0.3s ease;
    width: 30%;
    }
    
.saberMas:hover{
    text-shadow: 2px 2px 5px #000000a8;
    transform: scale(1.02);
    cursor: pointer;  
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media (max-width: 850px){
    .saberMas{
        width: 40%;
    }
}

/*carrusel logos----------------------------------------*/


#clientesText{
    text-align: center;
    font-size: 2.35rem;
    padding: 40px 0 50px;
    color: var(--ClientesText);
}

.sliderClientes{
        
    margin: 10px auto 70px;
    width: 95%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 3% 97%,
        transparent
    );        
}



.sliderClientes .lista{
display: flex;
width: 90%;
min-width: calc(var(--width) * var(--quantity));
position: relative;
}

.sliderClientes .lista .clientes{
width: var(--width);
height: var(--height);
position: absolute;
left: 100%;
animation: autoRun 7s linear infinite;
transition: filter 0.3s;
animation-delay: calc( (7s / var(--quantity)) * (var(--position) - 1) );

}

.sliderClientes .lista .clientes img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
border-radius: 10%;
}

@keyframes autoRun{
from{
    left: 100%;
} to{
    left: calc(var(--width) * -5);
}
}

.sliderClientes:hover .clientes{
animation-play-state: paused!important;
filter: grayscale(1);
}

.sliderClientes .clientes:hover{
filter: grayscale(0) drop-shadow(0px 0px 10px #b8b8b81f) drop-shadow(0px 0px 30px #00000063) ;
}

