/*transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/
*{
    padding: 0; margin: 0;
}

[tema = "light"] {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


/*          Colores              */
/*===============================*/
    /*Carousel*/
/*===============================*/
    --dots: #283388;
    --dotsFondo: rgba(0, 0, 0, 0.181);
    --arrowsHover: #0e0f19;
    --arrowsHoverFondo: #ae0d24;
/*==============================*/


/*==============================*/
    /*Vendemos a Todo el País*/
/*===============================*/   
    --descFondo: #f2f2f2;
    --descSpanColorDest: #ae0d24;
    --descH4Color: #0e103d;
    --descButtonFondo: #fff;
    --descButtonFondoHover: red;
    --descButtonBorder: #000;
    --descButtonBorderHover: #7e0000;
    --descButtonText: #000;
    --descButtonTextHover: #ffffff;
/*===============================*/
/*===============================*/


/*==============================*/
    /*Nuestros Productos*/
/*==============================*/
    --prodTittleFondo1: #da1f3b;
    --prodTittleFondo2: #ae0d24;
    --prodTittleText: #fff;
    --prodAcnButtonFondo: #1c77c3;
    --prodAcnButtonText: #fff;
    --prodAcntCardFondo: #f7f7f7;
    --prodAcntCardText: #000;
    --prodAcntCardBorder: #5e5e5e;
    --prodAcntCardBorderHover: #cf0707;
    --prodDetailProdFondo: #f8f9fa;
    --prodDetailProdButton: #007bff;
    --prodDetailProdButtonHover: #0056b3;
    --prodButtonSM: #cb1a35;
/*===============================*/
/*===============================*/


/*==============================*/
    /*Nuestros Clientes*/
/*===============================*/   
    --ClientesText: #000;
/*===============================*/
/*===============================*/


    --fondo-spantext: #799fbf;
    --fcolor-desc-spantext:#001d36;
    --fondo-desc: #d7e6ee;
    --fcolor-desc-h4text:#296599;
    --fondo-productos-h1:#292d99;
    --fondo-footer:#142497;
    --border-footer: #1919bb;
    --gris-pantone: #607387; /* Pantone Cool Gray 5 C */
    /*tamaños*/
    --Carousel-height: 480px;
    --Logo-tamaño:65px;
    --logo-tamaño-responsive: 65px;
    /*Paleta de Colores*/
    --azul-dmd: #146597;
    --azul-oscurito: #0e103d;
    --rojito-dmd: #ae0d24;
    --gold: #e8aa14;
    --ivory: #f5f9e9;
    --azure-web: #e6fdff;
    --rich-black: #0e0f19;
    --azul-francia: #1c77c3;
}


body[tema="dark"] {

    /*          Colores              */
    /*===============================*/
        /*Carousel*/
    /*===============================*/
    --dots: #9aabf0; /* color claro para los puntos */
    --dotsFondo: rgba(255, 255, 255, 0.181); /* fondo más claro */
    --arrowsHover: #e0e1e6; /* color claro para las flechas */
    --arrowsHoverFondo: #6c0e1e; /* fondo oscuro para el hover de flechas */
    /*==============================*/
    
    
    /*==============================*/
    /*Vendemos a Todo el País*/
    /*===============================*/   
    --descFondo: #1e1e1e; /* fondo oscuro para la descripción */
    --descSpanColorDest: #e06c75; /* color más claro para destacar */
    --descH4Color: #e0e1e6; /* color claro para el texto */
    --descButtonFondo: #333; /* fondo oscuro para los botones */
    --descButtonFondoHover: #7d0000; /* fondo oscuro para el hover */
    --descButtonBorder: #555; /* borde oscuro para los botones */
    --descButtonBorderHover: #b30000; /* borde oscuro para el hover */
    --descButtonText: #e0e1e6; /* texto claro en los botones */
    --descButtonTextHover: #000000; /* texto oscuro en el hover */
    /*===============================*/
    /*===============================*/
    
    
    /*==============================*/
    /*Nuestros Productos*/
    /*==============================*/
    --prodTittleFondo1: #b33144; /* título más oscuro */
    --prodTittleFondo2: #a0372c; /* fondo oscuro para el título */
    --prodTittleText: #e0e1e6; /* texto claro para el título */
    --prodAcnButtonFondo: #3b6aa0; /* fondo oscuro para los botones de acción */
    --prodAcnButtonText: #e0e1e6; /* texto claro en los botones */
    --prodAcntCardFondo: #2a2a2a; /* fondo oscuro para las tarjetas */
    --prodAcntCardText: #e0e1e6; /* texto claro en las tarjetas */
    --prodAcntCardBorder: #777; /* borde oscuro para las tarjetas */
    --prodAcntCardBorderHover: #c80000; /* borde oscuro para el hover */
    --prodDetailProdFondo: #1c1c1c; /* fondo oscuro para detalles de productos */
    --prodDetailProdButton: #0056b3; /* botón más claro para detalles */
    --prodDetailProdButtonHover: #003d79; /* botón más oscuro para el hover */
    --prodButtonSM: #a41c32; /* botón pequeño con un tono más oscuro */
    /*===============================*/
    /*===============================*/
    
    
    /*==============================*/
    /*Nuestros Clientes*/
    /*===============================*/   
    --ClientesText: #e0e1e6; /* texto claro para clientes */
    /*===============================*/
    /*===============================*/
    
    
    }


body {
    margin: 0; 
    padding: 0; 
    font-family: var(--font-system); 
    background-color: var(--blanco);     
}



/*------------carrusel imagenes dmd -------------------*/


.Carousel{
    position: relative;
    width: 100%;
    height: var(--Carousel-height);
}
.Carousel .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.Carousel .slides .content{
    width: 100%; height: 100%;
    position: absolute;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Carousel .slides .content article{
    background-color: #f5f5f527;
    position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%);
    display: flex; align-items: center; justify-content: center;
    width: 40vw; height: 100px;
    padding: 30px;
    overflow: hidden;
    display: none;
}

.content:nth-child(1) { background-image: url(../img/dmd/foto.jpg); }
.content:nth-child(2) { background-image: url(../img/dmd/fabrica\ 4.jpg); }
.content:nth-child(3) { background-image: url(../img/dmd/FLOTA\ 3.jpg); }
.content:nth-child(4) { background-image: url(../img/dmd/FLOTA\ 5.jpg); }

.content:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{right: 20px;}
span.prev{left: 20px;}

span.next:hover, span.prev:hover{
    background-color: var(--rojito-dmd);
    
    color: var(--rich-black);
} 
.dotsContainer{
    position: absolute;
    width: auto;
    display: flex; justify-content: center;
    bottom: 30px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: var(--dotsFondo);
}
.dotsContainer .dot{

    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 15px;
    border-radius: 20px;

    display: inline-block;
    cursor: pointer;
    transition: background-color 1s ease;
    transition: 0.5s ease;
}
.dotsContainer .active{
    background-color: #283388;
    width: 25px;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

/*--------------------------consultar*/

        
#descripcion{
    /*background-color: #dadff7;*/
    background-color: var(--descFondo);
    

}

#descripcion article{
        margin: 0 auto;
        display: grid;
        grid-template-rows: 80px auto;
        grid-template-columns: 70% 1fr;
        grid-template-areas: 
        "span1 span1"
        " h4 btn"
        ;
        
    }
    
    #descripcion article p {
        grid-area: span1;
        font-size: 1.6rem;
        padding: 20px 40px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    #descripcion article span#destacado {
        color: var(--descSpanColorDest); /* Cambia este color según prefieras */
        font-size: 1.8rem;
        font-weight: 600;
    }

    #descripcion article h4 {
        color: var(--descH4Color);
        grid-area: h4; 
        margin-left: 50px;
        padding: 0px 0 30px;
        font-size: 1.035rem;
        font-weight: 600;
        border-radius: 5px;
    }
    #descripcion article .btn {
        grid-area: btn; 
        height: 50px;
        display: flex;
    }
    #descripcion article .btn #buttonH2{
        border: solid 1px;
        padding: 0 90px;
        background-color: #fff; 
        border-radius: 4px;
        font-size: 1rem;
        transition: 0.1s linear;
    }

    #descripcion article .btn #buttonH2:hover{
        cursor: pointer;
        color: var(--descButtonTextHover);
        background-color: var(--descButtonFondoHover);
        border: solid 2px var(--descButtonBorderHover);
    }

    @media (max-width: 700px){

        #descripcion{
            padding: 0 20px;
        }


        #descripcion article{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }    
        #descripcion article h4{
        padding: 15px 5px;
        width: 80%;
        }
        #descripcion article .btn{
            width: 300px;
            border: solid 1px;
        }
        #descripcion article .btn button{
            height: auto;
            width: 100%;
            padding: 10px;
        }
        


    }

        
/* Textos Productos y Clientes*/

.textom{ display: flex; justify-content: center;}
.textom h1{
    font-size: 2rem;
    padding: 15px;  
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, 
    var(--prodTittleFondo1),
    var(--prodTittleFondo2));
    color: var(--prodTittleText);
    letter-spacing: 1.8px;
}


/*productos o servicios--------------------------*/
    
/*Detalle del Producto ---------------------------------------------------------*/


/*----------- Detalle del producto (modal) ------------------ */

/* Estilos para el acordeón */
.accordion{
    display: flex; align-items: center; flex-direction: column;
    margin: 30px;; width: 90%; margin: 0 auto;
    position: relative;
}

.accordion-content {
    display: none;
    width: 100%;
    border-radius: 10px;
    background-color: var(--azul-pantone);
    position: relative;
    padding: 40px 0 0;
    bottom: 40px;
}


.accordion-content .cards{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;
    justify-content: space-evenly;
    
}


.accordion-button {
    width: 100%;
    margin: 20px 0 0; padding: 20px 15px;
    border-radius: 7px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 1;
    background:var(--prodAcnButtonFondo);
    color: var(--prodAcnButtonText);
}



.accordion-button .flecha{
    display: inline-block;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 20px;
    transition: 0.2s;
}

.accordion-button .flecha.active{
    transform: scaleY(-1);
}


.productosCards {
    background-color: var(--prodAcntCardFondo);
    border: solid 2px var(--prodAcntCardBorder);
    color:            var(--prodAcntCardText);

    padding: 8px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.productosCards:hover {
    transform: scale(1.05);
    border-color: var(--prodAcntCardBorderHover);

}

.productosCards img {
    width: 100%;
    height: auto;
    max-width: 250px; /* Ancho máximo de la imagen */
    max-height: 200px; /* Altura máxima de la imagen */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
    border-radius: 5px;
    margin-bottom: 10px;
}






@media (max-width: 450px){

    .cards{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .productosCards{
        width:100%;
        height: 100%;
    }
}





.product-detail {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--prodDetailProdFondo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: visible;
    z-index: 1000;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}







/* Imagen dentro del modal */
.product-detail img {
    width:auto;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Botón de cierre */
#close-detail {
    background-color: var(--prodDetailProdButton);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.1s ease;
}

#close-detail:hover {
    background-color: var(--prodDetailProdButtonHover);
}

/* Fondo oscuro cuando el modal está abierto */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}



/* Imagen normal */
#product-image {
    max-width: 100%;
    transition: all 0.3s ease; /* Transición suave para cambios */
    cursor: zoom-in; /* Para indicar que se puede hacer zoom */
}

/* Cuando la imagen está en modo de zoom */
.product-detail img.enlarged {
    position: fixed; /* Para que la imagen salga del contenedor */
    top: 50%; /* Centramos verticalmente */
    left: 50%; /* Centramos horizontalmente */
    transform: translate(-50%, -50%) scale(0.9); /* Escalado para agrandar la imagen */
    z-index: 9999; /* Asegura que la imagen esté encima de todo */
    cursor: zoom-out; /* Cambia el cursor para indicar que se puede salir del zoom */
    transition: transform 0s ease; /* Transición suave para el zoom */
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}


/* Centrado de la imagen dentro del modal */
.modal-content img {
    max-width: 90%; /* Asegura que la imagen no se desborde */
    max-height: 90vh; /* Mantiene la imagen dentro de la ventana visible */
    margin: auto;
    display: block; /* Centra la imagen */
}


/*========================*/
/*boton quiero saber mas*/
/*========================*/

.saberMas{
    margin: 30px auto 50px;
    font-size: 1.2rem;
    padding: 15px;  
    text-align: center;
    width: 22%;
    color: #fff;
    background-color: var(--prodButtonSM);
    border-radius: 10px;
    letter-spacing: 2px;
    transition: 0.3s;
    }
    
.saberMas:hover{

    text-shadow: 
        0.5px 0.5px 0 var(--rich-black), /* Sombra en la esquina inferior derecha */
        -0.5px -0.5px 0 var(--rich-black), /* Sombra en la esquina superior izquierda */
        0.5px -0.5px 0 var(--rich-black), /* Sombra en la esquina superior derecha */
        -1px 1px 0 var(--rich-black); /* Sombra en la esquina inferior izquierda */
    transform: scale(1.05);
    cursor: pointer;
}



/*carrusel logos----------------------------------------*/

#clientesText{
    text-align: center;
    font-size: 2.35rem;
    padding: 40px 0 0px;
    color: var(--ClientesText);
}

.sliderClientes{
        
    margin: 10px auto 70px;
    width: 95%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 3% 97%,
        transparent
    );        
}

.sliderClientes .lista{
display: flex;
width: 100%;
min-width: calc(var(--width) * var(--quantity));
position: relative;
}

.sliderClientes .lista .clientes{
width: var(--width);
height: var(--height);
position: absolute;
left: 100%;
animation: autoRun 6s linear infinite;
transition: filter 0.2s;
animation-delay: calc( (6s / var(--quantity)) * (var(--position) - 1) );
}

.sliderClientes .lista .clientes img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 35%;;
}

@keyframes autoRun{
from{
    left: 100%;
} to{
    left: calc(var(--width) * -1);
}
}

.sliderClientes:hover .clientes{
animation-play-state: paused!important;
filter: grayscale(1);
}

.sliderClientes .clientes:hover{
filter: grayscale(0);
}

