
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.1s ease;
}
/*
[tema="dark"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

@keyframes circle-out-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[tema="light"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-center both;
}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  */

[tema=light]{
/*          Colores              */
/*===============================*/
    --body: #f5f7fa;

    /*Titulo (Hero)*/
/*===============================*/
    --heroH1:#fff;
    --heroP:#ddd;
/*===============================*/
/*===============================*/

    /*Detalle*/
/*===============================*/
    --compresorFondo: #fff;
    --compresorBorderColor: #dfdede;

    --contentTitleTextColor: #2c3e50; /*h2*/
    --contentTitleBorderB: #c0392b; /*underline*/

    --contentPTextColor: #333; /*p*/
    --contentPList: #ae0d24; /*°*/
    --contentListStrong: #000;
    --contentListTextColor: #000; 

/*===============================*/
/*===============================*/

    /*comTablas*/
/*===============================*/
    --CardH2Color: #ae0d24;
    --CardPColor: #000;

    --cardTablaTextColor: #000;
    --CardTablaFondo: #fdfdfd;
    --CardTablaBorder: #dadada;
    --CardTablaFondoODD: #ececec;
/*===============================*/
/*===============================*/

    /*Consulta*/
/*===============================*/
    --consulPFondo: #ae0d24;
    --consulPTextColor: #fff;
    --consulAColor: #fff;
/*===============================*/
/*===============================*/

}

[tema="dark"]{

    --body: #1c1f20;

    --heroH1: #e8e6e3;
    --heroP: #d3cfc9;

    --compresorFondo: #181a1b;
    --compresorBorderColor: #393e40;

    --contentTitleTextColor: #aec2d3;
    --contentTitleBorderB: #972d22;

    --contentPTextColor: #c8c3bc;
    --contentPList: #f2566c;
    --contentListStrong: #e8e6e3;
    --contentListTextColor: #e8e6e3;

    --CardH2Color: #f2566c;
    --CardPColor: #e8e6e3;

    --cardTablaTextColor: #fff;
    --CardTablaFondo: #191b1c;
    --CardTablaBorder: #3a3f42;
    --CardTablaFondoODD: #232627;

    --consulPFondo: #7c0d1e;
    --consulPTextColor: #fff;
    --consulAColor: #fff;
}

/* Hero section */
.hero {
    background-image: url('../img/nosotros/img1.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 10px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2; /* Aseguramos que el texto esté por encima del fondo oscuro */
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.2rem;
}


/* Product Section */
.compresores {
    display: flex;
    flex-direction:column;
    gap: 35px;
    padding: 50px 35px;
}


.compresor {
    border: 1px solid ;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    flex-wrap: wrap;
}

.compresor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.compresor-img{
    width: 450px;
    border-radius: 4px;
    margin: 65px auto 0;
    position: relative;
}

.compresor .compresor-img img {
    width: 100%;
    object-fit: cover; object-position: center;
    filter: drop-shadow(-8px 30px 18px #0000005d);
}
.compresor-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 565px;
    padding: 20px 20px 0;
}

.compresor-info h2 {
    font-size: 2rem; /* Aumentamos el tamaño */
    font-weight: 600; /* Mayor peso de la fuente */
    border-bottom: solid;
    padding-bottom: 20px;
}

.compresor-info  .content {
    padding: 20px;
    margin: 10px auto 0;
    border-radius: 5px;
}

.content p {
    font-size: 1.2rem; /* Ajustamos el tamaño del texto */
    font-weight: 400;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none; /* Eliminamos el tipo de lista por defecto */
    padding-left: 20px; /* Alineamos el contenido */
}

.content li {
    margin-bottom: 15px; /* Espacio entre elementos */
    word-spacing: 2px; /* Espaciado entre palabras */
    line-height: 1.6; /* Interlineado */
    position: relative;
    padding-left: 20px;
}

.content li::before {
    content: "●"; /* Icono circular personalizado */
    font-size: 15px;
    position: absolute;
    left: 0; /* Posicionamos el círculo */
    top: 20%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajuste de posición */

}

.content strong {
    font-size: 1.1rem; /* Tamaño del texto */
}



.consult-button {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.consult-button:hover {
    transform: scale(1.05);
}


.compresor-tecdesc{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.compresor-tecdesc h2{margin-left: 10px;}

.detalleCompresor{
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    justify-content: center;
    display: none;
    
}

.compresor-img2{
    width: 500px;
    height: max-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.compresor-img img{
    width: 400px;
    object-fit: cover;
    object-position: center;
    
}

@media (max-width: 769px){
    .compresor-img{width: 100%;}
    .compresor-info{
        min-width: 0;
    } 
    .compresor-info{
        padding: 20px 1px 0!important;
    }
    .compresor-info .content{
        padding: 20px 5px;
    }
}
#preventa {
    flex-direction: row-reverse;
}



.consul p{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 0;
}

.consul p a{
    text-decoration: none;
    text-decoration: underline  transparent;
    transition: 0.2s ease;
}

.consul p a:hover{
    text-decoration: underline ;
}

#comTablas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px 35px;
}

#comTablas .cards{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#comTablas .cards p{margin-bottom: 10px;}

#comTablas table{
    border-radius: 2px;
    border: solid 1px;
    margin: 0px 30px 30px;
}


table th, table td{padding: 10px;}
tbody td:nth-child(odd) {font-size: 0.95rem; width: 45%;}
tbody tr{font-size: 0.9rem;}





body {
    background-color: var(--body);
}


    /*Titulo (Hero)*/
/*===============================*/
.hero h1 {
    color: var(--heroH1);
}

.hero p {
    color: var(--heroP);
}

    
/*===========Contenedor===========*/
.compresor {
    background-color: var(--compresorFondo);
    border: 1px solid var(--compresorBorderColor);
}

/*============Titulo===========*/
.compresor-info h2 {
    color: var(--contentTitleTextColor);
    border-bottom: var(--contentTitleBorderB) solid;
}

/*============Contenido===========*/
.content p {
    color: var(--contentPTextColor);
}
    
.content li::before {
    color: var(--contentPList);
}
    
.content li {
    color: var(--contentListTextColor);
}
    
.content strong {
    color: var(--contentListStrong);
}

/*=======Titulo Tablas========*/
#comTablas h2 {
    color: var(--CardH2Color);
}

#comTablas p {
    color: var(--CardPColor);
}

/*============Tablas===========*/
#comTablas table {
    border: var(--CardTablaBorder);
    background-color: var(--CardTablaFondo);
    color: var(--cardTablaTextColor);
}

tbody tr:nth-child(odd) {
    background-color: var(--CardTablaFondoODD);
}

/*============Consulta===========*/
.consul p {
    background-color: var(--consulPFondo);
    color: var(--consulPTextColor);
}

.consul p a {
    color: var(--consulAColor);
}


