/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

/* Hero section */
.hero {
    background-image: url('../img/nosotros/img1.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 10px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2; /* Aseguramos que el texto esté por encima del fondo oscuro */
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff; /* Aseguramos que el color del texto sea blanco */
}
.hero p {
    font-size: 1.2rem;
    color: #ddd; /* Ajuste del color para mayor contraste */
}


/* Product Section */
.compresores {
    display: flex;
    flex-direction:column;
    gap: 35px;
    padding: 50px 35px;
}


.compresor {
    background-color: #fff;
    border: 1px solid #dfdede;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    flex-wrap: wrap;
}

.compresor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.compresor-img{
    width: 450px;
    border-radius: 4px;
    margin-top: 65px;
}

.compresor .compresor-img img {
    width: 100%;
    object-fit: cover; object-position: center;
    filter: drop-shadow(-8px 30px 18px #0000005d);
}
.compresor-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 20px 0;
}

.compresor-info h2 {
    font-size: 2rem; /* Aumentamos el tamaño */
    color: #2c3e50; /* Color más oscuro para el título */
    font-weight: 600; /* Mayor peso de la fuente */
    border-bottom: #c0392b solid;
    padding-bottom: 20px;
}

.compresor-info  .content {
    padding: 20px;
    margin: 10px auto 0;
    border-radius: 5px;
}

.content p {
    font-size: 1.2rem; /* Ajustamos el tamaño del texto */
    color: #333; /* Color gris más suave */
    font-weight: 400;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: none; /* Eliminamos el tipo de lista por defecto */
    padding-left: 20px; /* Alineamos el contenido */
}

.content li {
    margin-bottom: 15px; /* Espacio entre elementos */
    word-spacing: 2px; /* Espaciado entre palabras */
    line-height: 1.6; /* Interlineado */
    position: relative;
    padding-left: 20px;
}

.content li::before {
    content: "●"; /* Icono circular personalizado */
    font-size: 15px;
    color: #ae0d24; /* Color naranja para el círculo */
    position: absolute;
    left: 0; /* Posicionamos el círculo */
    top: 20%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajuste de posición */

}

.content strong {
    font-size: 1.1rem; /* Tamaño del texto */
    color: #000000; /* Color rojo para el texto en negrita */
}



.consult-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
}

.consult-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}


.compresor-tecdesc{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.compresor-tecdesc h2{margin-left: 10px;}

.detalleCompresor{
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    justify-content: center;
    display: none;
    
}

.compresor-img2{
    width: 500px;
    height: max-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.compresor-img img{
    width: 400px;
    object-fit: cover;
    object-position: center;
    
}


#preventa {
    flex-direction: row-reverse;
}



.consul p{
    background-color: #ae0d24;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px 0;
}

.consul p a{
    text-decoration: none;
    color: #fff;
    text-decoration: underline  transparent;
    transition: 0.2s ease;
}

.consul p a:hover{
    text-decoration: underline ;
}

#comTablas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px 35px;
}

#comTablas .cards{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#comTablas h2{color: #ae0d24;}
#comTablas .cards p{margin-bottom: 10px;}

#comTablas table{
    border-radius: 2px;
    border: solid 1px #dadada;
    background-color: #fdfdfd;
    margin: 0px 30px 30px;
}


table th, table td{padding: 10px;}
tbody td:nth-child(odd) {font-size: 0.95rem; width: 45%;}
tbody tr{font-size: 0.9rem;}
tbody tr:nth-child(odd) {background-color: #ececec;}