
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: 0.1s ease;
}
/*
[tema="dark"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

@keyframes circle-out-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[tema="light"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-center both;
}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  */

[tema=light]{
/*          Colores              */
/*===============================*/
    --body: #f5f7fa;

    /*Titulo (Hero)*/
/*===============================*/
    --heroH1:#fff;
    --heroP:#ddd;
/*===============================*/
/*===============================*/

    /*Detalle*/
/*===============================*/
    --compresorFondo: #fff;
    --compresorBorderColor: #dfdede;

    --contentTitleTextColor: #2c3e50; /*h2*/
    --contentTitleBorderB: #c0392b; /*underline*/

    --contentPTextColor: #333; /*p*/
    --contentPList: #ae0d24; /*°*/
    --contentListStrong: #000;
    --contentListTextColor: #000; 

/*===============================*/
/*===============================*/

    /*comTablas*/
/*===============================*/
    --CardH2Color: #ae0d24;
    --CardPColor: #000;

    --cardTablaTextColor: #000;
    --CardTablaFondo: #fdfdfd;
    --CardTablaBorder: #dadada;
    --CardTablaFondoODD: #ececec;
/*===============================*/
/*===============================*/

    /*Consulta*/
/*===============================*/
    --consulPFondo: #ae0d24;
    --consulPTextColor: #fff;
    --consulAColor: #fff;
/*===============================*/
/*===============================*/

}

[tema="dark"]{

    --body: #1c1f20;

    --heroH1: #e8e6e3;
    --heroP: #d3cfc9;

    --compresorFondo: #181a1b;
    --compresorBorderColor: #393e40;

    --contentTitleTextColor: #aec2d3;
    --contentTitleBorderB: #972d22;

    --contentPTextColor: #c8c3bc;
    --contentPList: #f2566c;
    --contentListStrong: #e8e6e3;
    --contentListTextColor: #e8e6e3;

    --CardH2Color: #f2566c;
    --CardPColor: #e8e6e3;

    --cardTablaTextColor: #fff;
    --CardTablaFondo: #191b1c;
    --CardTablaBorder: #3a3f42;
    --CardTablaFondoODD: #232627;

    --consulPFondo: #7c0d1e;
    --consulPTextColor: #fff;
    --consulAColor: #fff;
}

/* Hero section */
.hero {
    background-image: url('../img/nosotros/img1.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 10px;
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    z-index: 1;
}

.hero h1, .hero p {
    position: relative;
    z-index: 2; /* Aseguramos que el texto esté por encima del fondo oscuro */
}
.hero h1 {
    font-size: 2.5rem;
    margin:35px 0 10px;
}
.hero p {
    font-size: 1.2rem;
}



/* Product Section */
.serviciosCards {
    display: flex;
    flex-direction:column;
    gap: 35px;
    padding: 50px 35px;
}


.servicio {
    border: 1px solid ;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicio:nth-child(even){
    flex-direction: row-reverse;
}
.img-contenedor{
    width: 420px;
}

.img-contenedor img{
    width: 100%;
    object-fit: cover;
}

.servicio:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.servicio .cards{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 20px 0;
}


.cards p{margin-bottom: 10px;}

table{
    border-radius: 2px;
    border: solid 1px;
    margin: 0px 30px 30px;
}


table th, table td{padding: 10px;}
tbody td:nth-child(odd) {font-size: 0.95rem; width: 45%;}
tbody tr{font-size: 0.9rem;}






.hero h1 {
    color: var(--heroH1);
}

.hero p {
    color: var(--heroP);
}

    

.servicio {
    background-color: var(--compresorFondo);
    border: 1px solid var(--compresorBorderColor);
}

 table {
    border: var(--CardTablaBorder);
    background-color: var(--CardTablaFondo);
    color: var(--cardTablaTextColor);
}

tbody tr:nth-child(odd) {
    background-color: var(--CardTablaFondoODD);
}

.consul p {
    background-color: var(--consulPFondo);
    color: var(--consulPTextColor);
}

.consul p a {
    color: var(--consulAColor);
}
*/


body {
    background-color: var(--body);
}
/*


.hero h1 {
    color: var(--heroH1);
}

.hero p {
    color: var(--heroP);
}

    



.compresor-info h2 {
    color: var(--contentTitleTextColor);
    border-bottom: var(--contentTitleBorderB) solid;
}


.content p {
    color: var(--contentPTextColor);
}
    
.content li::before {
    color: var(--contentPList);
}
    
.content li {
    color: var(--contentListTextColor);
}
    
.content strong {
    color: var(--contentListStrong);
}


#comTablas h2 {
    color: var(--CardH2Color);
}

#comTablas p {
    color: var(--CardPColor);
}


#comTablas table {
    border: var(--CardTablaBorder);
    background-color: var(--CardTablaFondo);
    color: var(--cardTablaTextColor);
}

tbody tr:nth-child(odd) {
    background-color: var(--CardTablaFondoODD);
}


.consul p {
    background-color: var(--consulPFondo);
    color: var(--consulPTextColor);
}

.consul p a {
    color: var(--consulAColor);
}
*/
