/*transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;*/
*{
    padding: 0; margin: 0;
}
:root {
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* Colores */
    --rojo-pantone: #9d034f; /* Pantone 200 C */
    --azul-pantone: #146597; /* Pantone 7462 C */

    --blanco: #fff;
    --rojo: #cc0000;

    --fondo-header: #20507a;
    --fondo-nav: #fff;
    
    --fondo-spantext: #799fbf;
    --fcolor-desc-spantext:#001d36;

    --fondo-desc: #d7e6ee;
    --fcolor-desc-h4text:#296599;


    --fondo-productos-h1:#292d99;
    --fondo-footer:#142497;
    --border-footer: red;

    --gris-pantone: #607387; /* Pantone Cool Gray 5 C */

    /*tamaños*/
    --Carousel-height: 480px;
    --Logo-tamaño:65px;
    --logo-tamaño-responsive: 65px;


    /*Paleta de Colores*/
    --azul-dmd: #146597;
    --azul-oscurito: #0e103d;
    --rojito-dmd: #ae0d24;
    --gold: #e8aa14;
    --ivory: #f5f9e9;
    --azure-web: #e6fdff;
    --rich-black: #0e0f19;
}


/*--------footer*/
footer{
    border-top: solid 10px var(--border-footer);
    background-color: var(--fondo-footer);
    height: 140px;
    color: #fff;
    font-size: 0.95rem;
    display: flex;
    justify-content: space-between;
}
.redes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

footer .redes span .fContacto{
    padding-right: 5px;
    cursor: pointer;
    transition: 0.1s ease;
}

footer .redes span .fContacto:hover{
    transform: scale(1.1);
}

footer .indnac{
    padding: 20px;
    display: flex;    
    align-items: center;
    gap: 15px;

}

footer .indnac img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

footer .indnac h1{
    font-size: 1.2rem;
    text-align: center;
}

.ubic{
    text-align: end;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}


@media (max-width: 767px){
    footer{
        flex-direction: column;
        height: auto;
    }
    
    footer .redes{
        flex-direction: row;
        justify-items: center; align-items: center;
        flex-wrap: wrap; gap: 10px;
    }
    footer .redes h2{width: 100%;text-align: center;}

    footer .indnac{
        justify-content: space-around;
        gap: 15px;
    }
    
    footer .indnac h1{
        font-size: 1.2rem;
        text-align: center;
    }
    
    footer .ubic{
        align-items: center;
    }
    
}

