*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  transition: background-color 0.1s ease-in-out;
}
[tema="light"] {
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --navBgColor: #fff;
    --navBShadow: 0 -10px 30px #000 ;

    --navTextBgColor: #fff;
    --navTextBgHover: #ffaaaa;
    --navTextSpanColor: #2c2c2c;

    --SubMenuBShadow: 0 15px 30px #00000025;
    --SubMenuBgColor: #fff;
    --SubMenuBgColorHover: #C4DFFF;
    --subMenuTextColor: #2c2c2c;

    --botonNavLateral: #000;

    --navLateralBgColor: #fff;

    --navLateralMainTextColor: #434343;
    --navLateralMainBgColor: #fff;

    --navLateralMainTextColorHover: #fff;
    --navLateralMainBgColorHover: #146597;
    --navLateralMainTextColorActive: #fff;
    --navLateralMainBgColorActive: #146597;

}

[tema="dark"]{
    --navBgColor: #181a1b;
    --navBShadow: 0 -10px 30px #000;

    --navTextBgColor: #181a1b;
    --navTextBgHover: #660000;
    --navTextSpanColor: #ccc8c1;

    --SubMenuBShadow: 0 15px 30px #00000025;
    --SubMenuBgColor: #181a1b;
    --SubMenuBgColorHover: #292c2e;
    --subMenuTextColor: #ccc8c1;

    --botonNavLateral: #ccc8c1;

    --navLateralBgColor: #181a1b;

    --navLateralMainTextColor: #beb8b0;
    --navLateralMainBgColor: #181a1b;
    
    --navLateralMainTextColorHover: #e8e6e3;
    --navLateralMainBgColorHover: #105179;
    --navLateralMainTextColorActive: #e8e6e3;
    --navLateralMainBgColorActive: #105179;
  }
body {
  font-family: var(--font-system);
}

/*Nav*/
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas: "logo nav-items";
  box-shadow: var(--navBShadow);
  padding: 0 42px;
  gap: 25px;
  user-select: none;
  top: 0;
  width: 100%;
  z-index: 2000;
  background-color: var(--navBgColor); 
  position: sticky;
}



/*IMG*/
.navigation #navimg {
  height: 80px;
  transition: 0.3s ease-in-out;
  grid-area: logo;
}

#navimg.sticky {
  height: 40px;
}

/*===============NavText===============*/
#nav-container {
  grid-area: nav-items;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--navBgColor);
}

.nav-items {
  flex: 1;
  height: 100%;
  display: flex; 
}

.nav-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
  z-index: 4;
  background-color: var(--navTextBgColor);
}
.nav-item span::after{
  content: ""; 
  position: absolute; 
  top:-10px;    left:-10px;
  right:-10px;  bottom:-10px;
}
.nav-item:hover {
  background-color: var(--navTextBgHover) /* #FFAAAA */;
}
/*========================================*/

/*============Boton Menu Desplegable=============*/
.nav-item span {
  letter-spacing: 1px;
  color: var(--navTextSpanColor);
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
  z-index: 20;
}


.submenu {
  position: absolute;
  z-index: -1; 
  top: 80%;
  left: 0;
  width: 100%;
  box-shadow: var(--SubMenuBShadow);
  display: none; 
}

@keyframes opacidad {
  to {
    opacity: 1;
  }
}

@keyframes menulistanim {
  to {
    top: 100%;
  }
}

.nav-item:hover .submenu {
  display: block; 
  opacity: 0;
  animation: opacidad 0.4s ease-out forwards, menulistanim 0.4s ease forwards;
}

.submenu .submenu-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--SubMenuBgColor) /* #ffffff */;
  
  cursor: default !important;
  list-style: none;
}

.submenu .submenu-items li {
  width: 100%;
  padding: 10px 15px;
}


.submenu-items li span{
  font-size: 1rem;
  color: var(--subMenuTextColor);
}

.submenu .submenu-items li:hover {
  cursor: pointer;
  background-color: var(--SubMenuBgColorHover);
}
/*==============================================*/

/*===============Tema y Lenguaje ===============*/
.iditema{
  position: absolute; right: 0;
  display: flex; gap: 20px;
  align-items: center;
}

.lenguaje{height: 35px; cursor: pointer;}
.lenguaje p{height: 100%;}
.lenguaje p img{height: 100%;}

.hrNav{height: 40px; color: #fff}

.temas p{
  cursor: pointer;
  font-size: 2.1rem;
  color: #fff;
}

.temas p:nth-child(2) {
  display: none;
  color: #000;
}

/*=================================================*/

/*======================Boton Desplegable No-Responsive=========================*/
.menu-toggle,
.close-menu {
  display: none; 
  border: none; 
  background-color: transparent; 
  font-size: 2rem; 
  cursor: pointer; 
  position: relative; 
}

.menu-toggle::before,
.close-menu::before {
  content: ""; 
  position: absolute; 
  top: -7px; 
  left: -7px; 
  right: -7px; 
  bottom: -7px; 
}
/*========================================================================*/

/*======================Boton Desplegable Responsive=========================*/
@media (max-width: 840px) {
  /*nav*/
  .navigation {
    grid-template-columns: max-content max-content; 
    grid-template-areas: "logo menu-toggle"; 
    justify-content: space-between; 
    gap: 0; 
  
  }
  /*===*/

  /*Boton Desplegable*/
  .menu-toggle {
    display: flex; 
    grid-area: menu-toggle; 
    align-items: center; 
    text-decoration: none; 
    color: var(--botonNavLateral);
  }
  /*=================*/

  /*Barra Lateral No-Activa*/
  #nav-container {
    position: absolute; 
    transform: translateX(100%); 
    display: none;
  }
  /*=======================*/

  /*Animaciones*/
  @keyframes contentAnim {
    to {
      transform: translateX(0%);
      display: block;
    }
  } 
  @keyframes contentOpac {
    to {
      opacity: 1;
    }
  } 
  /*============*/

  /*Barra Lateral Activa*/
  .navigation.active #nav-container,
  .navigation.active .iditema {
    display: flex; 
    animation: contentAnim 0.8s ease forwards, contentOpac 0.4s ease forwards; 
  }

  .navigation.active #nav-container {
    position: fixed; 
    right: 0; 
    top: 0;
    width: 75%; 
    max-width: 400px; 
    height: 100vh; 
    background-color: var(--navLateralBgColor);
    display: grid; 
    grid-template-areas: "close-menu" "nav-items" "iditema"; 
    grid-template-rows: repeat(3, max-content); 
    align-items: start; 
    overflow: scroll;
  }
  /*=======================*/

  /*Mostrar Boton Para Cerrar*/
  .navigation.active .close-menu {
    padding: 20px 40px 50px; 
    width: 100%; 
    display: flex; 
    justify-content: end; 
    grid-area: close-menu; 
    color: var(--botonNavLateral);
  }
  /*===========================*/

  /*Estilos de los elementos de navegación activos*/
  .navigation.active .nav-items {
    grid-area: nav-items; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin: 0 auto; 
    overflow: scroll; 
    height: 100%; 
    align-content: start; 
    cursor: default; 
  }

  .navigation.active .nav-item {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    padding: 0; 
    height: max-content; 
    background-color: #fff; 
    transition: 0.2s ease; 
  }

  .navigation.active .iditema {
    max-height: 80px; 
    width: 70%; 
    margin: 0 auto;
    position: static; 
    padding: 10px 0; 
    justify-content: center;
    flex-wrap: wrap;
    grid-area: iditema; 
  }
@media (max-width: 250px){

  #themeSelect{
    width: 100%;
    display: flex; justify-content: center;
  }

  .lenguaje{
    width: 100%;
    display: flex; justify-content: center;
  } 

  .hrNav{
    height: auto; width:50%;
  }

}
  .navigation.active .nav-item {
    flex-wrap: wrap; 
    background-color: var(--NavLateral);
  }

  .mainButton{
    width: 100%; 
    padding: 20px 30px; 
    cursor: pointer; 
    transition: 0.2s ease; 
    color: var(--navLateralMainTextColor);    
    background-color: var(--navLateralMainBgColor);
    border-radius: 5px;
    margin: 0 15px;
  }

  .mainButton:hover {
    background-color: var(--navLateralMainBgColorHover);
    color: var(--navLateralMainTextColorHover); 
  }


  .navigation.active .nav-items .nav-item .submenu {
    position: static;
    padding: 0 15px;
  }

  .nav-item:hover .submenu {
    display: none; 
    opacity: 0; 
  }

  .submenu.active .submenu-items li{
    border-radius: 5px;
    display: flex;
  }
  .submenu.active .submenu-items li span{flex: 1;}

  .navigation.active .nav-item span.active{
    background-color: var(--navLateralMainBgColorActive);
    color: var(--navLateralMainTextColorActive);
  }

  .navigation.active .submenu.active {
    box-shadow: none; 
    display: block; 
    opacity: 0; 
    animation: opacidad 0.4s ease-out forwards, menulistanim 0.4s ease forwards; 
  }
  .navigation.active .submenu.active .submenu-items{
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
  
}

/*========================================================================*/

/*===================/Sticky/===================*/

